<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>BigBook</title>
</head>
<body>
<div th:replace="navbar"></div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-3 mx-auto">
            <h1>Book page</h1>
            <br>
            <p>Title: <span th:text="${book.title}"></span></p>
            <p>Author: <span th:text="${book.author}"></span></p>
            <p>ISBN: <span id="isbn" th:text="${book.isbn}"></span></p>
            <div>
                <button th:unless="${isFavourite}" id="addToFavourite" type="button" class="btn btn-success">Add
                    to
                    favourites
                </button>
                <button th:if="${isFavourite}" id="deleteFromFavourite" type="button" class="btn btn-danger">
                    Delete
                    from favourites
                </button>
            </div>
        </div>
    </div>
</div>
<script>

    $("#addToFavourite").click(function () {
        $.ajax({
            type: 'POST',
            url: '/books/add-to-favourites',
            dataType: 'json',
            data: JSON.stringify({
                isbn: $('#isbn').text(),
            }),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Content-Type', 'application/json')
            },
            success: function () {
            },
            error: function (jqXHR) {
                if (jqXHR.status === 200) {
                    location.reload();
                }
            }
        });
    });

    $("#deleteFromFavourite").click(function () {
        $.ajax({
            type: 'POST',
            url: '/books/delete-from-favourites',
            dataType: 'json',
            data: JSON.stringify({
                isbn: $('#isbn').text(),
            }),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Content-Type', 'application/json')
            },
            success: function () {
            },
            error: function (jqXHR) {
                if (jqXHR.status === 200) {
                    location.reload();
                }
            }
        });
    });


</script>
</body>
</html>