<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">

    <a class="navbar-brand" href="/">BigBook</a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="#" class="nav-link">Favourite</a>
        </li>
        <li class="nav-item">
            <a href="/auth/logout" class="nav-link">Logout</a>
        </li>
    </ul>
</nav>
</body>
</html>