<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>BigBook</title>
</head>
<body>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Book page</h1>
            <br>
            <p>Title: <span th:text="${book.title}"></span></p>
            <p>Author: <span th:text="${book.author}"></span></p>
            <p>ISBN: <span th:text="${book.isbn}"></span></p>
            <a href="/">Main page</a>
        </div>
    </div>
</div>


</body>
</html>